-
    const headerList = ["Tài khoản của tôi", "Trạng thái đơn hàng", "Danh sách ưa thích", "Giỏ hàng", "Đăng nhập", "Đăng ký"]

-
 var banner = [
   {
     urlImage : "./assets/images/banner.jpg"
   },
   {
     urlImage : "./assets/images/banner.jpg"
   },
   {
     urlImage : "./assets/images/banner.jpg"
   }
 ]

-
  var navbarLink = [
    {
      title : "Trang Chủ",
      link : "/"
    },
    {
      title : "Rượu vang đỏ",
      link : "/"

    },
    {
      title : "Rượu trắng",
      link : "/"
    },
    {
      title : "champagne",
      link : "/"
    }
    ,
    {
      title : "Thông tin",
      link : "/"
    }
    ,
    {
      title : "blog",
      link : "/"
    }
    ,
    {
      title : "Liên hệ",
      link : "/"
    }
  ]