mixin news-home({src:src, alt:alt})
    img(src=src, alt=alt)
    p.news__time
        | Đăng bởi Giangle | 30/06/2015 | 60 bình luận
    p.news__description
        | Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên
        | men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn.
        | Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi,
        | sản phẩm được đóng chai đung tích 750ml.
    p.new__read-more
        | Read more
